.mainsection {
    width: 100%;
  }
  
  .mainsection > :nth-child(1) {
    margin-bottom: 2em;
  }
  
  .vertical-timeline-element-subtitle {
    margin-top: 0.5em;
    font-size: 20px;
  }
  
  .vertical-timeline-element-title {
    font-size: .1em;
    color: var(#050845);
  }

.vertical-timeline-element-icon {
    height:40px !important;
    width:40px !important;
    line-height:40px !important;
    border-style: none !important;
    border: 0px !important;
    }